name: Development

on:
  workflow_call:


jobs:
  dockerBuild:
    name: "Build Docker image"
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # - name: Build and push as docker image to Docker Hub from action
      #   uses: docker/build-push-action@v5
      #   with:
      #     context: ./dockers/php
      #     file: Dockerfile
      #     push: true
      #     tags: kaungmyatsoedev/wops-laravel:${{ github.sha }}
